Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans) A database is an organized collection of data that is stored and accessed electronically. 

SQL databases are highly structured and enforce strict data integrity, while NoSQL databases are highly flexible and designed for scalability and handling unstructured data efficiently.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans) 
DDL stands for Data Definition Language, which is a subset of SQL that is used to define and modify the structure of a database
The CREATE statement is used to create new database objects/tables.

eg.
CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    email VARCHAR(100)
);

The DROP statement is used to delete existing database objects. For example, the following SQL code drops the "students" table.

eg. 
DROP TABLE students;

The ALTER statement is used to modify the structure of existing database objects. For example, the following SQL code adds a new column called "phone" to the "students" table.

eg.
ALTER TABLE students ADD COLUMN phone VARCHAR(20);

The TRUNCATE statement is used to delete all data from a table without dropping the table itself. This is useful when you want to remove all data from a table quickly, without deleting the table structure. For example, the following SQL code truncates the "students" table.

eg. 
TRUNCATE TABLE students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans) 
DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data within a relational database. DML commands are used to insert, update, delete, and retrieve data from tables.

INSERT: The INSERT statement is used to insert data into a table.

eg. 
INSERT INTO customers (first_name, last_name, email)
VALUES ('John', 'Doe', 'johndoe@email.com');

UPDATE: The UPDATE statement is used to modify existing data in a table. 

eg.
UPDATE customers
SET email = 'newemail@email.com'
WHERE customer_id = 1;

DELETE: The DELETE statement is used to remove data from a table. 

eg.
DELETE FROM customers
WHERE customer_id = 1;

Q4. What is DQL? Explain SELECT with an example.

Ans) DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a relational database.
The SELECT statement is used to query data from one or more tables.
eg.
SELECT * FROM customers;

This will retrieve all the rows and columns from the "customers" table.

Q5. Explain Primary Key and Foreign Key.

Ans) 
A primary key is a unique identifier for a record in a database table. It is a column or a set of columns that uniquely identifies each record in a table
For example, in a "customers" table, the "customer_id" column can be set as the primary key. 

A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It is used to establish a relationship between two tables. The table that contains the foreign key is called the referencing table, and the table that contains the primary key is called the referenced table.
For example, in a "orders" table, the "customer_id" column can be set as a foreign key that refers to the primary key of the "customers" table. This establishes a relationship between the two tables, and it allows the "orders" table to access the customer data by using the "customer_id" column.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabasename"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for row in myresult:
  print(row)

The "cursor()" method creates a cursor object that is used to execute SQL queries and fetch results.

The "execute()" method of the cursor object is used to execute an SQL query.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans)

The order of execution of SQL clauses in an SQL query is as follows:

FROM clause: The FROM clause specifies the table or tables from which the data is to be retrieved. This is the first clause in a SELECT statement.

WHERE clause: The WHERE clause filters the data based on a specified condition. This clause comes after the FROM clause.

GROUP BY clause: The GROUP BY clause is used to group the data based on one or more columns. This clause comes after the WHERE clause.

HAVING clause: The HAVING clause filters the grouped data based on a specified condition. This clause comes after the GROUP BY clause.

SELECT clause: The SELECT clause specifies the columns to be retrieved from the table. This clause comes after the WHERE and GROUP BY clauses.

ORDER BY clause: The ORDER BY clause is used to sort the data based on one or more columns. This clause comes after the SELECT clause.

LIMIT/OFFSET clause: The LIMIT/OFFSET clause is used to limit the number of rows returned by the query. This clause comes after the ORDER BY clause.